@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --side-icon-size: 48px;
    --grid-gap: 24px;
    --dark-purple: #3b0764;
    --dark-purple-transparent: #3c07647b;
    --light-orange: #fff7ed;
    --card-border-radius: 12px;
    --flex-gap: 20px;
}

#main-title {
    font-size: 2rem;
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 210px 1fr;
    width: 100vw;
    height: 100vh;
}

#header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 12px 48px 22px 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px -8px 10px -5px rgba(128, 0, 128, 0.5);
}

#sidebar {
    grid-row: 1 / 3;
    background-color: var(--dark-purple);
    color: white;
    padding: 20px;
}

#content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    background-color: #eee1fc;
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 48px 24px;
    gap: var(--grid-gap);
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dash-logo,
.icon {
    fill: white;
}

.icon {
    height: 24px;
}

.header-icon {
    height: 36px;
    fill: var(--dark-purple);
}

.logo-container,
.icon-container {
    width: 70px;
    margin-right: 16px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    text-align: center;
}

.header-flex{
    display: flex;
    gap: 24px;
    align-items: center;
}

#search {
    flex: 1;
    border-radius: 24px;
    border: 1px solid var(--dark-purple);
    padding: 4px 24px;
    font-size: 1rem;
    margin-right: 96px;
}

#search:focus {
    outline: none;
    box-shadow: 4px 4px 8px rgba(128, 0, 128, 0.5);
}

.avatar {
    height: 56px;
    border-radius: 32px;
}

#avatar-header-large {
    height: 72px;
    border-radius: 36px;
}

#header-name,
#header-name-large {
    color: var(--dark-purple);
    font-weight: 900;
}

#header-name {
    font-size: 1.5rem;
}

#header-name-large {
    font-size: 1.75rem;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.text-color {
    color: #3b0764;
    font-weight: 500;
    font-size: 1.1rem;
}

.header-btn {
    background-color: var(--dark-purple);
    color: white;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 21px;
    height: 42px;
    width: 128px;
    outline: none;
    border: none;
}

.header-btn:hover {
    box-shadow: 4px 4px 8px rgba(128, 0, 128, 0.5);
}

.spacer {
    flex-grow: 1;
}

#cards-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#cards-grid h2,
#aside h2,
#announcement-card h3,
.handle {
    color: var(--dark-purple);
}

#announcement-card h3,
.handle {
    font-size: 1rem;
}

#announcement-card p,
.account-moto {
    color: var(--dark-purple-transparent);
    font-size: 0.8rem;
}

#announcement-card h3 {
    margin-bottom: 8px;
}

#aside {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

#announcement-card,
#trending-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
    justify-content: center;
}

#announcement-card {
    margin-bottom: var(--grid-gap);
}

hr {
    border: 0.5px solid var(--dark-purple);
}

.account-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--flex-gap);
}

.handle {
    margin-bottom: 4px;
}

#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: var(--grid-gap);
    grid-auto-rows: 1fr;
    flex: 1;box-sizing: border-box;
}

#announcement-card,
#trending-card,
.project-card {
    border-radius: var(--card-border-radius);
    background-color: var(--light-orange);
    padding: var(--flex-gap);
    box-shadow: 4px 4px 8px rgba(128, 0, 128, 0.5);
}

.project-card {
    min-height: 200px;
    border-left: var(--card-border-radius) solid var(--dark-purple-transparent);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card p {
    color: var(--dark-purple-transparent);
}

.action-btns {
    display: flex;
    justify-content: flex-end;
    gap: var(--flex-gap);
}